body {
  margin: 0;
}
.sec1 {
  display: flex;
  margin-bottom: 80px;
}
h1 {
  color: #707070;
  font-size: 60px;
}
h2 {
  font-size: 35px;
}
.list-color {
  color: #707070;
  font-weight: 700;
}
.name {
  width: 60%;
  padding: 60px 0 0 390px;

  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.img {
  width: 50%;
  padding-top: 100px;
  padding-right: 500px;
} /*
.imgsharif {
  
  border: 1px solid white;
  border-radius: 11px;
  margin-top: 100px;
  height: 30%;
  box-shadow: 10px 9px 20px gray;
}*/
.flexc {
  display: flex;
  margin-top: 0;
}
.about {
  padding-left: 500px;
}
.imgdream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.avat {
  padding-left: 400px;
}
.dream {
  display: flex;
  margin-bottom: 200px;
}
.para {
  width: 50%;
  padding-right: 490px;
  font-family: sans-serif;
}
.claflex {
  display: flex;
  margin-bottom: 100px;
  padding-left: 370px;
  padding-right: 370px;
}
.wh {
  padding-left: 330px;
  padding-bottom: 30px;
}

.g,
.h,
.j {
  border: 1px solid #ada6a6;
  margin-right: 50px;
  padding: 20px 15px 10px 17px;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
  margin-bottom: 150px;
  margin-left: 320px;
  color: gray;
  font-weight: 900;
  font-weight: bolder;
}
